@typeparam TItem

<table class="table is-fullwidth">
    <thead>

    </thead>
</table>

@code {

    [Parameter]
    public List<TItem> DataItems { get; set; }

    public List<ColumnDefinition> MyProperty { get; set; }


}
